*{
    margin: 0px;
    padding: 0px;
}
.Navbar{
    height: 35px;
    width: 100%;
    background-color: rgb(25, 22, 22);
    display: flex;
    position: fixed;
    
}
.icons{
    margin-left: 20px;
    /* background-color: yellow; */
    align-content: center;
    display: flex;
    margin-left: 870px;
    color: aliceblue;
}
.para{
    /* background-color: rgb(192, 21, 175); */
    margin-left: 40px;
    align-content: center;
    color: aliceblue;
   
}
.icon1{
    /* background-color: chartreuse; */
    align-content: center;
    margin-left: 30px;
}
.icon2{
    /* background-color: darkorange; */
    align-content: center;
    margin-left: 30px;
}
.icon3{
    /* background-color: rgb(203, 24, 24); */
    align-content: center;
    margin-left: 30px;
}
.hyper{
    color: aliceblue;
}
.cartBody{
    height: 600px;
    width: 100%;
    background-color:rgb(25, 22, 22);
    display: flex;

}

.cartScroll {
    overflow-y: auto; 
    height: 400px; 
    width: 55%; 
    padding: 20px;
    border-radius: 4px; 
    background-color:rgb(25, 22, 22); 
    margin: 20px 0; 
    box-sizing: border-box; 
    margin-top: 50px;
}

.cartScroll > .itemBox {
    
    padding: 10px;
    
    margin-bottom: 10px; 
    border-radius: 4px; 
    display: flex;
}

.summery{
    height: 400px;
    width: 45%;
    background-color: yellow;
    margin-top: 50px;
    

}
.itemBox{
    width: 100%;
    height: 200px;
    background-color: rgb(25, 22, 22);

}
.line{
    color: antiquewhite;
    width: 100%;
}
.image{
  width: 30%;
  height: 200px;
  background-color:rgb(25, 22, 22);
}
.pic{
    width: 80%;
    height: 170px;
    margin-left: 20px;
}
.infor{
    background-color:rgb(25, 22, 22);
    width: 70%;
    height: 200px;
}
.cartPara{
    margin-top: 20px;
    background-color: rgb(25, 22, 22);
    color: aliceblue;
}
.first{
    display: flex;
    background-color: rgb(25, 22, 22);
}
.trash{
    margin-top: 20px;
    margin-left: 60px;
    color: aliceblue;
}
.dis{
    background-color:rgb(25, 22, 22);
    
}
.rate{
    margin-top: 20px;
    color: aliceblue;
}
.cartBut{
  display: flex;
  background-color: rgb(25, 22, 22);
  margin-top: 20px;
  border-radius: 5px;
}
.plus{
    width:8%;
    height: 100%;
    background-color:rgb(53, 51, 51);
    text-align: center;
    color: aliceblue;
    
}
.minus{
    width:8%;
    height: 100%;
    background-color:rgb(53, 51, 51);
    text-align: center;
    color: aliceblue;
    
}
.one{
    width:8%;
    height: 100%;
    background-color:black;
    text-align: center;
    color: aliceblue;
    
}
.delete{
    font-size: small;
}
