.background{
    background-color: black;
}
.divback{
    background-color: rgb(40, 39, 39);
    width: 40%;
    margin-left: 350px;
    color: aliceblue;
    margin-top: 40px;
    height: 600px;
    
}
.headr{
   height: 40px;
   width: 100%;
   background-color: rgb(40, 39, 39);
}
.para1{
    padding-top: 40px;
    margin-left: 40px;
}
.para{
    margin-left: 40px;
}
.block{
    background-color: rgb(40, 39, 39);
}
.input{
    background-color: rgb(40, 39, 39);
}
.inputtype{
    margin-left:40px ;
    margin-bottom:20px ;
    height: 45px;
    width: 80%;
    border: 1px solid #5C5C5C;
    border-radius: 2px;
    background-color: rgb(40, 39, 39) ;
    cursor: pointer;
}
.but{
    margin-left:40px ;
    margin-bottom:20px ;
    height: 40px;
    width: 81%;
    border: solid red 1px;
    color: aliceblue;
    background-color: red;
    border-radius: 2px;
    cursor: pointer;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.line {
    
    border-top: 1px solid aliceblue;
    width: 30%;
}

.text {
    padding: 0 10px;
    font-weight: bold;
    white-space: nowrap;
}
.com1{
margin-left: 40px;
height: 45px;
margin-top: 20px;
width:25%;
background-color: #1877F2;
border: solid #1877F2 1px;
border-radius: 2px;
color: aliceblue;
}
.com2{
  margin-left: 10px;
  height: 45px;
  margin-top: 20px;
  width: 25%;
  background-color: rgb(219, 68, 55);
  border: solid rgb(219, 68, 55) 1px;
  border-radius: 2px;
  color: aliceblue;
}
.com3{
    margin-left: 10px;
    height: 45px;
    margin-top: 20px;
    width: 25%;
    background-color: #1DA1F2;
    border: solid #1DA1F2 1px;
    border-radius: 2px;
    color: aliceblue;  
  }
  input::placeholder {
    color: aliceblue;  
  
  }
  

